

<div class="ui five cards">
    <div class="card">
        <div class="content">
            <i class="right floated huge purple marker icon"></i>
            <br>
            <div class="header">
                #{list items:_test, as:'station'}
                ${station.name}
            </div>
            <div class="meta">
            </div>
            <div class="description">
                Lat: ${station.latitude}<br>
                Lng: ${station.longitude}
                #{/list}
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">

            <br>
            <div class="header">
                Weather
            </div>
            <div class="meta">
            </div>
            <div class="description">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <i class="right floated huge blue temperature low icon"></i>
            <br>
            <div class="header">
                Temp
            </div>
            <div class="meta">
            </div>
            <div class="description">
                0 C<br>
                0 F<br>
                Min 0<br>
                Max 0
            </div>
        </div>
    </div>
    <div class="card">
        <div class=" content">
            <i class="right floated huge teal wind icon"></i>
            <br>
            <div class="header">
                Wind
            </div>
            <div class="meta">
            </div>
            <div class="description">
                0 Kph
                <br>
                0 bft
                <br>
                0
                <br>
                0
                <br>
                Min 0
                <br>
                Max 0
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <i class="right floated huge orange compress arrows alternate icon"></i>
            <br>
            <div class="header">
                Pressure
            </div>
            <div class="meta">
            </div>
            <div class="description">
                0
                <br>
                Min 0
                <br>
                Max 0
            </div>
        </div>
    </div>
</div>

