

<div class="ui five cards">
    <div class="card">
        <div class="content">
            <i class="right floated huge purple marker icon"></i>
            <br>
            <div class="header">
                #{list items:_test, as:'station'}
                ${station.name}
                <br>
            </div>
            <div class="meta">
            </div>
            <div class="description">
                Lat: ${station.latitude}<br>
                Lng: ${station.longitude}
                #{/list}
            </div>
        </div>
    </div>
    #{list items:_test.readings.get(_test.readings.size()-1), as:'reading'}
    <div class="card">
        <div class="content">
            <i class="right floated huge red ${reading.weatherCodeIcon}"></i>
            <br>
            <div class="header">
                Weather
            </div>
            <div class="meta">
            </div>
            <div class="description">
                ${reading.weatherCodeText}
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <i class="right floated huge blue temperature low icon"></i>
            <br>
            <div class="header">
                Temp
            </div>
            <div class="meta">
            </div>
            <div class="description">
                ${reading.temperature} C<br>
                ${reading.fahrenheitTemp} F<br>
                #{list items:_test, as:'station'}
                <i class="${station.temperatureTrendingValue}"></i>
                #{/list}
                #{list items:_test, as:'station'}
                Min ${station.minTemperature}<br>
                Max ${station.maxTemperature}<br>
                #{/list}
            </div>
        </div>
    </div>
    <div class="card">
        <div class=" content">
            <i class="right floated huge teal wind icon"></i>
            <br>
            <div class="header">
                Wind
            </div>
            <div class="meta">
            </div>
            <div class="description">
                ${reading.beaufort} bft
                <br>
                #{list items:_test, as:'station'}
                <i class="${station.windTrendingValue}"></i>
                #{/list}
                ${reading.cardinalPoint}
                <br>
                Feels like
                <br>
                ${reading.windChill}
                <br>
                #{list items:_test, as:'station'}
                Min ${station.minWindSpeed}
                <br>
                Max ${station.maxWindSpeed}
                <br>
                #{/list}
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <i class="right floated huge orange compress arrows alternate icon"></i>
            <br>
            <div class="header">
                Pressure
            </div>
            <div class="meta">
            </div>
            <div class="description">
                ${reading.pressure} hpa
                <br>
                #{list items:_test, as:'station'}
                Min ${station.minPressure}
                <br>
                Max ${station.maxPressure}
                #{list items:_test, as:'station'}
                <i class="${station.pressureTrendingValue}"></i>
                #{/list}
                <br>
                #{/list}
            </div>
        </div>
    </div>
    #{/list}
</div>

